<script src="https://kit.fontawesome.com/fcf81a7615.js" crossorigin="anonymous"></script>
<script src="/assets/js/ejs.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/dataTables.min.js"></script>
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/printThis.js"></script>
<script src="/assets/js/scripts.js"></script>
<script>
    moment.locale('es-es');               
</script>
<div class="column is-4 is-offset-5">
  <p class="text-white">
    <strong>@iyamilmartinez</strong> 
  </p>
</div>