<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/up-art.png" width="40" height="60">
      <p class="subtitle is-4">
        Up Art
      </p>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      
      <a class="navbar-item" *ngIf="isUser" routerLink="/dashboard">Dashboard</a>        
           
    </div>

    <div class="navbar-end">
      <div class="navbar-item">        
          <a *ngIf="!isUser" class="button is-primary" routerLink="/login"> <i class="fa fa-user"></i> <strong>Ingresar</strong></a>          
          <a class="navbar-item" *ngIf="isUser"> <i class="fa fa-user">{{ username }}</i></a>                        
          <a class="button is-light" *ngIf="isUser" (click)="salir()"> <i></i> Salir</a>
      </div>

      </div>
  </div>
</nav>